body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.output {
    float: left;
    width: 300px;
    margin: 0;
}

.inputs {
    float: left;
    width: 200px;
}

.control {
    overflow: hidden;
    margin-left: 20px;
}
.control input {
    vertical-align: bottom;
}

.disabled {
    color: #ccc;
}

.spacer {
    margin-top: 20px;
}